* {
    opacity: 1;
}
body:before {
    z-index: -1;
}
.nav:nth-of-type(2) {
    background: #99c038;
}
.cont {
    width: 1000px;

    margin: 30px auto;
}
.table {
    width: 100%;

    background: #faf9f1;
    display: table;

    padding-bottom: 10px;
    box-shadow: 2px 0 40px #5ab271;
}
.caption {
	width: 900px;
    background: #5ab271;
    font-size: 30px;
    text-align: center;
    box-shadow: 2px 0 40px #5ab271;
    /* background: linear-gradient( 180deg, #5ab271, #e7eed1); */
    margin: auto;
}
.caption > p {
    text-shadow: 2px 0 40px #500700;
	color: white;
}
.row {
    width: 100%;

		display: table-row;
}
.cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    display: table-cell;
}
.table a {
    color: #500700;
    text-decoration: none;
    font-family: open-sans-condensed, sans-serif;
    font-weight: 900;
}
.cell:nth-of-type(2n) .a1 {
    width: 28%;
}
.cell:nth-of-type(2n) {
    width: 80%;

    vertical-align: middle;
}
.cell:nth-of-type(2n) a {
	width: 105px;
	float: right;
}
.cell:nth-of-type(2n + 1) {
    width: 20%;

    vertical-align: top;
}
.cell:nth-of-type(2n + 1) a {
    width: 200px;

    text-align: center;

    display: block;

    padding: 30px 0;
}
.a5 {
    padding-left: 60px;
}
/*.a4 {
    padding-left: 50px;
}*/
.a3 {
    padding-left: 40px;
}
.a2 {
    padding-left: 30px;
}
.a1 {
    padding-left: 20px;
}
#myCanvas {
    margin-top: 20px;
    margin-left: 30px;
}
.row:nth-of-type(2) .cell:nth-of-type(2) {
    position: relative;
}
img {
    height: 30px;
    width: 30px;

    position: absolute;

    border-radius: 50%;
    box-shadow: 1px 0 16px #5ab271;
}